<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>To Do List</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <h1>To Do List for Today</h1>
    <ul>
        {% for todo in todos %}
            <li>
                <input type="checkbox" name="done" {% if todo['done'] %} checked {%endif%} disabled>
                <span {%if todo['done'] %} style="text-decoration: line-through" {%endif%}>{{ todo['task'] }}</span>
                <a href="{{ url_for('check', index=loop.index0) }}">Complete Task</a>
                <a href="{{ url_for('edit', index=loop.index0) }}">Edit Task</a>
                <a href="{{ url_for('delete', index=loop.index0) }}">Delete Task</a>
            </li>
        {% endfor %}
    </ul>

    <form action="{{ url_for('add') }}" method="post" autocomplete="off">
        <input type="text" name="todo" placeholder="New Task">
        <button type="submit">Add a To Do</button>
    </form>
</body>
</html>
